@page
@using Group5_DBApp.Models
@model Group5_DBApp.Pages.AccountModel
@{
    ViewData["Title"] = "Account Info";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Application</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Our Online Store</h1>
    </header>

    <main>
        <br>
        <h2>Hello, @Model.Users.FirstOrDefault()?.username</h2>
        <br>
        <h3>Credit Card Information:</h3>
        <p>@foreach (var creditCards in Model.CreditCards)
            {
                <div class="credit-card">
                <h3>@creditCards.UserId</h3>
                <p>@creditCards.CardNumber</p>
                <p>@creditCards.ExpireDate</p>
                <button>Update Credit Card</button>
                <br>
                <br>
                </div>
            }
        </p>
        <br>
        <br>
        <h3>Address Information:</h3>
        <p>@foreach (var users in Model.Users)
            {
                <div class="credit-card">
                <h3>@users.home_address</h3>
                <button>Update Address</button>
                <br>
                <br>
                </div>
            }
        </p>
        <br>
        <br>
    </main>

    <footer>
        <p>&copy; 2024 Online Shopping Application. All Rights Reserved.</p>
    </footer>
</body>
</html>

